@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	margin: 0 auto;
	line-height: 1.5;
	color: #566b78;
	padding-bottom: 5em;
	height: 100%;
	min-height: 100%;
}

p, h1, h2{
	font-family: 'Lato', sans-serif;
}

a{
	color: #5F4842;
	font-weight: bold;
	text-decoration: none;
}

.header {
	background:
	linear-gradient(135deg, #5F4842 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
	linear-gradient(225deg, #5F4842 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#5F4842;
	background-size: 64px 128px;
	background-attachment: fixed;
  padding: 4vw;
}

.header h1, .header p{
	color: #FFF;
	background-color:#5F4842;
	border: 1px;
	border-radius: 20px;
	margin: 1em auto;
}

.header h1 {
	width: 4.2em;
	font-size: 5.5em;
}

.header p {
	width: 12em;
  font-size: 2.1em;
}

.content{
	max-width: 70em;
	margin: 0 auto;
	padding: 2em;
	margin-bottom: 20px;
}

.content h2{
	margin-top: 1.2em;
}

.content p{
	padding-left: 2em;
}

.footer{
	clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
	padding-left: 3%;
}
